<nav>
    <a href="/" class="logo"><i class="fas fa-cloud-sun-rain "></i></a>
    <a href="/">Weather</a>
    <a href="/about">about</a>
    <a href="/contact">Contact Us</a>
    <a href="/help">help</a>
</nav>