.aboutMe{
    width: 50%;
    margin: 0 auto;
  
    /* display: grid;
    grid-template-columns: repeat(auto-fix,minmax(200px,1fr)); */
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0px 1px 5px rgba(104,104,104,0.8);
}
.aboutMe_content{
    line-height: 2rem;
}
.aboutMe div{
    padding:10px;
    text-align: center;
}

@media(max-width:900px)
{
    .aboutMe{
        width: 100%;
    }
}
